# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Large Files
data/
saved_models/*.pth

# Environment
.env
venv/
env/
.venv/

# Frontend
node_modules/
.next/
out/
build/
dist/
.DS_Store
*.log
